/* Шрифт PTsans 400 */
@font-face {
  font-family: "PT Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2);
}

/* Шрифт PTsans 700 */
@font-face {
  font-family: "PT Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  background: #f2f2f2;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

/* .visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
} */

.hero {
  width: 1200px;
  height: 485px;
  background-image: url("../img/hero.welcome/hero-background-img.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: local;
}
